{% extends 'blog/base_full_with.html' %}

{% block head_title%}Edit Post - Blog{% endblock %}
{% block main_area %}
  <h1>Edit Post</h1>
  <hr/>

  <form method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
      {{ form }}
      </table>
      <tr>
        <th><label for="id_tags_str">Tags:</label></th>
        <td><input type="text" id="id_tags_str" name="tags_str" value="{{ tags_str_default }}"></td>
      </tr>
      <button type="submit" class="btn btn-dark float-right">Submit</button>
    </form>
  {% endblock %}
